<!-- Filter Section -->
<section class="filter-section">
    <div class="row text-center">
        <h2 class="slogan">[[activeStreamers.length]] Pro League of Legends Players Currently Streaming</h2>
    </div>
    <div class="row text-center">
        <div class="search-container col-md-5 center-block">
            <input type="text" placeholder="Search by name, team, or region..." class="search-box" ng-model="query">
        </div>
    </div>
    <div class="row text-center select-container">
        <div class="col-md-3 filter-select-container">
            <select class="filter-select" ng-model="filter.status">
                <option ng-repeat="status in statuses" value="[[status.id]]">[[status.name]]</option>
            </select>
        </div>
        <div class="col-md-3 filter-select-container">
            <select class="filter-select" ng-model="filter.region">
                <option value="">-- Select Region --</option>
                <option ng-repeat="region in regions" ng-if="$index > 0" value="[[region.id]]">[[region.acronym]] - [[region.name]]</option>
            </select>
        </div>
        <div class="col-md-3 filter-select-container">
            <select class="filter-select" ng-model="filter.team">
                <option value="">-- Select Team --</option>
                <option ng-repeat="team in teams" value="[[team.id]]">[[team.region_id.acronym]] - [[team.name]]</option>
            </select>
        </div>
        <div class="col-md-3 filter-select-container">
            <select class="filter-select" ng-model="filter.position">
                <option value="">-- Select Position --</option>
                <option ng-repeat="position in positions" value="[[position.id]]">[[position.name]]</option>
            </select>
        </div>
    </div>
</section>

<section class="player-section container-fluid">
    <div class="row">
        <div ng-repeat="streamer in players | filter: { online: filter.status } | filter: { team: { region_id: { id: filter.region }}} | filter: { team: { id: filter.team }} | filter: { position: { id: filter.position }} | filter: search" class="player-box text-center team-colors-[[streamer.team.acronym]]">
            <a href="https://twitch.tv/[[streamer.twitch_username]]" class="player-twitch pointer"><i class="fab fa-twitch fa-2x"></i></a>
            
            <h2 class="player-name">[[streamer.handle]]</h2>
   
            <div class="player-info text-left">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="info-title">NAME</h4>
                        <h5 class="info-content">[[streamer.first_name]] [[streamer.last_name]]</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="info-title">POSITION</h4>
                        <h5 class="info-content">[[streamer.position.name]]</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="info-title">LEAGUE</h4>
                        <h5 class="info-content">[[streamer.team.region_id.acronym]]</h5>
                    </div>
                </div>
            </div>
            <div class="player-img-container">
                <img class="player-img" ng-src="[[streamer.image]]" />
            </div>
            <img class="team-logo" ng-src="[[streamer.team.logo]]" />
            <div class="online-light" tooltip-placement="left" ng-show="streamer.online == 1" uib-tooltip="Online now!">
                <div class="dot"></div>
                <div class="pulse"></div>
            </div>
        </div>
    </div>
</section>