// Team Colors

// TSM
$tsm-primary: #4a4a4a;
$tsm-secondary: white;

// Echo Fox
$fox-primary: #de6e26;
$fox-secondary: white;

// Fly Quest
$fly-primary: #14532b;
$fly-secondary: #d69f28;

// Counter Logic Gaming
$clg-primary: #272727;
$clg-secondary: #007fff;

// Cloud 9
$c9-primary: white;
$c9-secondary: #0b93d7;

// Optic Gaming
$opt-primary: #9dc73a;
$opt-secondary: #151515;

// 100 Thieves
$t100-primary: black;
$t100-secondary: #D51721;

// Golden Guardians
$ggs-primary: #003399;
$ggs-secondary: #fec624;

// Clutch Gaming
$cg-primary: white;
$cg-secondary: #dd1832;

// Team Liquid
$tl-primary: white;
$tl-secondary: #0e2340;


// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$seafoam: #a0d6b4;

$twitch-color: #A990DA;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
