// Variables
@import "variables"; // Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/* ----------------------------------------------------------------- */
/* GLOBAL */
/* ----------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}
body {
    background: black;
    color: white;
}
.navbar {
    border: none;
    border-radius: 0;
}
.no-link {
    color: white;
    text-decoration: none;
    &:hover {
        color: darken(white, 20%);
        text-decoration: none;
    }
}
.pointer {
    cursor: pointer;
}
a {
    color: $twitch-color;
    &:hover {
        color: lighten($twitch-color, 20%);
    }
}
/* ----------------------------------------------------------------- */
/* NAV */
/* ----------------------------------------------------------------- */
// .navbar {
//   background: black;
//   height: 150px;
//   text-align: center;
//   font-size: 50px;
//   color: white;
//   padding-top: 30px;
// }
.pro-navbar {
  margin-top: 15px;
}
.navbar {
    height: 80px;
    margin-bottom: 0;
    border-bottom: 3px solid $seafoam;
}
.nav-link {
    font-size: 1.5em;
}
.teko {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}
/* ----------------------------------------------------------------- */
/* FILTER */
/* ----------------------------------------------------------------- */
.slogan {
    text-shadow: 2px 2px $twitch-color;
}
.search-container {
  margin-top: 5px;
    // padding: 3em;
    float: none;
}
.search-box {
  color: $grey;
    width: 100%;
    padding: 3px 10px;
    background-color: black;
    border-radius: 1em;
    border: 0;
    &:focus {
      outline: none;
    }
}
.select-container {
    margin-top: 2em;
}
.filter-section {
    background: url('/img/nalcs_summer_finals2017c.jpg');
    background-position: center;
    padding: 0 1em 3em 1em;
    width: 100%;
}
.filter-select-container {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 2px;
}
.filter-select {
    color: black;
    width: 100%;
}
select {
    background: white;
}
/* ----------------------------------------------------------------- */
/* PLAYER */
/* ----------------------------------------------------------------- */
.team-colors-TSM {
    background: linear-gradient(to bottom, $tsm-primary 0%, $tsm-secondary 100%)
}
.team-colors-FOX {
    background: linear-gradient(to bottom, $fox-primary 0%, $fox-secondary 100%)
}
.team-colors-OPT {
    background: linear-gradient(to bottom, $opt-primary 0%, $opt-secondary 100%)
}
.team-colors-100 {
    background: linear-gradient(to bottom, $t100-primary 0%, $t100-secondary 100%)
}
.team-colors-TL {
    background: linear-gradient(to bottom, $tl-primary 0%, $tl-secondary 100%)
}
.team-colors-CG {
    background: linear-gradient(to bottom, $cg-primary 0%, $cg-secondary 100%)
}
.team-colors-CLG {
    background: linear-gradient(to bottom, $clg-primary 0%, $clg-secondary 100%)
}
.team-colors-C9 {
    background: linear-gradient(to bottom, $c9-primary 0%, $c9-secondary 100%)
}
.team-colors-FLY {
    background: linear-gradient(to bottom, $fly-primary 0%, $fly-secondary 100%)
}
.team-colors-GGS {
    background: linear-gradient(to bottom, $ggs-primary 0%, $ggs-secondary 100%)
}
.team-colors-RET, .team-colors-FA {
    background: linear-gradient(to bottom, rgb(51, 51, 51) 0%, #131313 84%, #131313 100%);
}

.player-twitch {
    position: absolute;
    top: 5px;
    left: 12px;
    z-index: 5;
}
.player-name {
    position: relative;
    z-index: 2;
    font-size: 2em;
    margin-bottom: 0;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: 3px;
    // text-transform: uppercase;
    text-shadow: 2px 2px black;
}
.player-info {
    position: relative;
    max-width: 70px;
    z-index: 3;
    margin-top: 6px;
}
.player-box {
    display: inline-block;
    width: 250px;
    position: relative;
    // border: 3px solid #1f1f1f;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 1em;
    margin: 1em;
}
.info-title {
    margin-top: 0;
    text-shadow: 2px 2px black;
    // color: #8a8a8a;
    color: white;
    font-size: 1.6em;
}
.info-content {
}
.player-img-container {
    position: relative;
    margin: 0 auto;
    content: " ";
    height: 10px;
    width: 180px;
}
.player-img {
    max-width: 200px;
    max-height: 180px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
}
.team-logo {
    width: 110px;
    position: absolute;
    right: 2px;
    top: 29px;
    z-index: 1;
}

/* ----------------------------------------------------------------- */
/* ABOUT */
/* ----------------------------------------------------------------- */
.about-header {
    margin-top: 0;
    background: url('/img/nalcs_summer_finals2017_about.jpg');
    background-position: center;
    padding: 1em 1em;
    width: 100%;
    font-size: 4em;
}
.social-media {
    list-style-type: none;
    padding-left: 0;
}
.social-media li {
    float: left;
    padding-left: 1em;
}
/* ----------------------------------------------------------------- */
/* ONLINE PULSE */
/* ----------------------------------------------------------------- */

.online-light {
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    bottom: 30px;
    right: 38px;
    background: #45453f;
}

.pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #3ada64;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #716f42;
    z-index: 10;
    position: absolute;
}

.dot {
    border: 10px solid #3ada64;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 2s ease-out;
    -moz-animation: pulse 2s ease-out;
    animation: pulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 2;
    opacity: 0;
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
