// Variables
@import "variables"; // Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/* ----------------------------------------------------------------- */
/* GLOBAL */
/* ----------------------------------------------------------------- */
body {
  background: black;
  color: white;
}
/* ----------------------------------------------------------------- */
/* NAV */
/* ----------------------------------------------------------------- */
.navbar {
  background: black;
  height: 150px;
  text-align: center;
  font-size: 50px;
  color: white;
  padding-top: 30px;
}
/* ----------------------------------------------------------------- */
/* PLAYER */
/* ----------------------------------------------------------------- */
.player-name {
  font-size: 3em;
  margin-bottom: 0;
}
.player-info {
  position: absolute;
}
.player-box {
  position: relative;
}

.player-img {
  width: 250px;
}
.team-logo {
  width: 200px;
  position: absolute;
  right: 0;
  z-index: -1;
}
